div.dt-container .dt-paging .dt-paging-button {
    padding: 0.3rem;
}


div.dt-container .dt-paging .dt-paging-button:hover {
    background: #fff;
    border-color:#4e73df;
}

.dt-length select {
    padding: 4px;
    border-radius: 4px;
    font-size: 0.85rem;
    background-color: #f8f9fa;
    color: #495057;
}

