<%- include ("arriba") %>

    <!-- contenido del medio -->
    <main class="mx-5 my-5 contenido-principal">

        <!-- Card Contenedor -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-secondary">Gestión de Artesanos</h4>
            </div>
            <div class="card-body">
                <!-- Botón para abrir el modal -->
                <button class="btn btn-success my-1 mt-4 ml-4" data-toggle="modal"
                    data-target="#modalAgregarArtesano">Añadir Artesano</button>

                <div class="row contenedor-tabla py-4 px-4">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="tablaArtesano"
                                class="table table-bordered table-condensed table-hover" style="width:100%">
                                <thead class="text-center">
                                    <tr>
                                        <th class="text-center">#:&nbsp;</th>
                                        <th>ID:&nbsp;</th>
                                        <th class="text-center">Nombre:&nbsp;</th>
                                        <th class="text-center">Apellido:&nbsp;</th>
                                        <th class="text-center">Email:&nbsp;</th>
                                        <th class="text-center">Celular:&nbsp;</th>
                                        <th class="text-center">CI:&nbsp;</th>
                                        <th class="text-center">Sexo:&nbsp;</th>
                                        <th class="text-center">Imagen de Perfil:&nbsp;</th>
                                        <th class="text-center">Fecha Creacion:&nbsp;</th>
                                        <th class="text-center">Fecha Modificacion:&nbsp;</th>
                                        <th class="text-center">Usuario Creacion:&nbsp;</th>
                                        <th class="text-center">Usuario Modificacion:&nbsp;</th>
                                        <th class="text-center">Especialidad:&nbsp;</th>
                                        <th class="text-center">Nombre comunidad:&nbsp;</th>
                                        <th class="text-center">Registro:&nbsp;</th>
                                        <th class="text-center">Acciones:&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Contenido de la tabla -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Añadir Categoría -->
    <div class="modal fade" id="modalAgregarArtesano" tabindex="-1" role="dialog"
    aria-labelledby="modalAgregarCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-2">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarCategoriaLabel">Añadir Artesano</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formRegistrarArtesano" method="POST" action="">
                    <div class="form-group">
                        <label for="nombreArtesano">Nombre:</label>
                        <input type="text" class="form-control" id="nombreArtesano"
                            placeholder="Introduce el nombre del Artesano" name="nombreArtesano"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoArtesano">Apellido:</label>
                        <input type="text" class="form-control" id="apellidoArtesano"
                            placeholder="Introduce el apellido del Artesano" name="apellidoArtesano"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="emailArtesano">Email:</label>
                        <input type="text" class="form-control" id="emailArtesano"
                            placeholder="Introduce el email del Artesano" name="emailArtesano"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="celularArtesano">Celular:</label>
                        <input type="text" class="form-control" id="celularArtesano"
                            placeholder="Introduce el celular del Artesano" name="celularArtesano"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="ciArtesano">CI:</label>
                        <input type="text" class="form-control" id="ciArtesano"
                            placeholder="Introduce el ci del Artesano" name="ciArtesano"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="sexoArtesano">Sexo:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i
                                class="fa fa-venus-mars"></i></span>
                            <select class="form-select" id="sexoArtesano" name="sexoArtesano" required>
                                <option value="" disabled selected>Selecciona tu sexo</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fotoArtesano">Foto:</label>
                        <input type="text" class="form-control" id="fotoArtesano"
                            placeholder="Introduce la foto del Artesano" name="fotoArtesano"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="especialidadArtesano">Especialidad:</label>
                        <input type="text" class="form-control" id="especialidadArtesano"
                            placeholder="Introduce la especialidad del artesano" name="especialidadArtesano"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="nroComunidad">Numero de comunidad:</label>
                        <input type="text" class="form-control" id="nroComunidad"
                            placeholder="numero de comunidad" name="nroComunidad"
                            required>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" form="formRegistrarArtesano" class="btn btn-success">Guardar
                    Cliente</button>
            </div>
        </div>
    </div>
</div>
    
<!-- Modal para actualizar cliente -->
<!--<div class="modal fade" id="modalActualizarArtesano" tabindex="-1" role="dialog" aria-labelledby="modalActualizarArtesanoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalActualizarArtesanoLabel">Actualizar Artesano</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formActualizarArtesano">
                <div class="modal-body">
                    <input type="hidden" id="idArtesanoActualizar" name="idArtesano">

                    <div class="form-group">
                        <label for="nombreArtesanoActualizar">Nombre</label>
                        <input type="text" class="form-control" id="nombreArtesanoActualizar" name="nombreArtesano" required>
                    </div>

                    <div class="form-group">
                        <label for="apellidoArtesanoActualizar">Apellido</label>
                        <input type="text" class="form-control" id="apellidoArtesanoActualizar" name="apellidoArtesano" required>
                    </div>

                    <div class="form-group">
                        <label for="emailArtesanoActualizar">Email</label>
                        <input type="email" class="form-control" id="emailArtesanoActualizar" name="emailArtesano" required>
                    </div>

                    <div class="form-group">
                        <label for="celularArtesanoActualizar">Celular</label>
                        <input type="text" class="form-control" id="celularArtesanoActualizar" name="celularArtesano" required>
                    </div>

                    <div class="form-group">
                        <label for="ciArtesanoActualizar">CI</label>
                        <input type="text" class="form-control" id="ciArtesanoActualizar" name="ciArtesano" required>
                    </div>

                    <div class="form-group">
                        <label for="sexoArtesanoActualizar">Sexo</label>
                        <select class="form-control" id="sexoArtesanoActualizar" name="sexoArtesano">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="fotoArtesanoActualizar">Foto</label>
                        <input type="text" class="form-control" id="fotoArtesanoActualizar" name="fotoArtesano">
                    </div>

                    <div class="form-group">
                        <label for="especialidadArtesanoActualizar">Especialidad</label>
                        <input type="text" class="form-control" id="especialidadArtesanoActualizar" name="especialidadArtesano" required>
                    </div>
                    <div class="form-group">
                        <label for="estado_c">Estado</label>
                        <input type="text" class="form-control" id="estado_c" name="estadoArtesano" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>-->
    </main>
    <!-- fin de contenido -->

<%- include ("abajo") %>