<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- styles -->
    <link rel="stylesheet" href="/moduloDifusion/css/index.css">
    <title>Página de Inicio</title>
</head>

<body>
    <!-- Inicio de la sección de encabezado -->
    <header id="inicio">
        <!-- navbar -->
        <nav id="nav">
            <div class="nav-center">
                <!-- nav header -->
                <div class="nav-header">
                    <img src="/moduloDifusion/img/logo.png" class="logo" alt="logo" />
                    <button class="nav-toggle">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <!-- links -->
                <div class="links-container">
                    <ul class="links">
                        <li>
                            <a href="#inicio" class="scroll-link activeLink">Inicio</a>
                            <div class="dropdown">
                                <a href="#quienes-somos" class="scroll-link">Quienes Somos</a>
                                <a href="#noticias" class="scroll-link">Noticias</a>
                            </div>
                        </li>
                        <!-- <li><a href="#quienes-somos" class="scroll-link">Quiénes Somos</a></li>
                        <li><a href="#noticias" class="scroll-link">Noticias</a></li> -->
                        <li><a href="/moduloDifusion/html/novedades-categorias.html" class="">Novedades</a></li>
                        <li><a href="/productosCliente" class="">Productos</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn btn-white btn-sb">
                <a href="login-registrar" class="login">Ingresar/Registrarse <i class="fas fa-user"></i></a>
                <div class="dropdown-login">
                    <a href="#Mi-Perfil" class="">Mi Perfil</a>
                    <a href="#Cerrar Sesion" class="">CERRAR SESIÓN</a>
                </div>
            </div>
        </nav>

        <!-- banner -->
        <div class="banner">
            <div class="container">
                <h1 class="animate__animated animate__fadeInLeft">Lleva a Bolivia donde estés</h1>
                <p>#Tienda en línea</p>
                <a href="/productosCliente" class="btn btn-white">Ver Productos</a>
            </div>
        </div>
    </header>
    <!-- Fin de la sección de encabezado -->

    <!-- Inicio del contenido principal -->
    <main>


        <!-- Quienes Somos -->
        <section id="quienes-somos" class="section">
            <div class="title">
                <h2>Quiénes <span>Somos</span></h2>
            </div>
            <div class="about-center container">
                <article class="about-img">
                    <img src="/moduloDifusion/img/quienes-somos.jpg" alt="Quiénes Somos" />
                </article>

                <article class="about">
                    <!-- btn container -->
                    <div class="btn-container">
                        <button class="tab-btn active" data-id="historia">Historia</button>
                        <button class="tab-btn" data-id="mision">Misión</button>
                        <button class="tab-btn" data-id="vision">Visión</button>
                    </div>

                    <div class="about-content">
                        <!-- item historia -->
                        <div class="content active" id="historia">
                            <h4>HISTORIA</h4>
                            <p class="qs-parrafo">
                                Somos un e-commerce dedicado a la preservación y promoción de la tradición artesanal de
                                Bolivia,
                                ofreciendo una variedad de productos únicos hechos a mano por artesanos locales, como
                                tejidos andinos,
                                cerámicas, joyería y tallados en madera. Cada pieza refleja la rica historia y cultura
                                de Bolivia,
                                llevando consigo la esencia de sus comunidades. Al elegir nuestros productos, no solo
                                llevas a casa un
                                fragmento auténtico de Bolivia, sino que también apoyas directamente a los artesanos y
                                sus economías
                                locales, ayudando a mantener vivas sus habilidades y tradiciones.
                            </p>
                        </div>
                        <!-- fin de item de historia -->

                        <!-- item de misión -->
                        <div class="content" id="mision">
                            <h4>MISIÓN</h4>
                            <p class="qs-parrafo">
                                Nuestra misión es preservar y promover la herencia cultural de Bolivia a través de la
                                venta de productos
                                artesanales auténticos, elaborados por talentosos artesanos locales. Nos comprometemos a
                                ofrecer una
                                plataforma que conecte a estos artesanos con un mercado global, valorando y reconociendo
                                su arte y
                                esfuerzo. A través de nuestras acciones, buscamos empoderar a las comunidades artesanas,
                                mejorar sus
                                condiciones de vida y asegurar que sus tradiciones y conocimientos sigan vivos y
                                apreciados por las
                                generaciones presentes y futuras.
                            </p>
                        </div>
                        <!-- fin de item de misión -->

                        <!-- item de visión -->
                        <div class="content" id="vision">
                            <h4>VISIÓN</h4>
                            <p class="qs-parrafo">
                                Nuestra visión es convertirnos en la principal plataforma de comercio electrónico de
                                productos
                                artesanales bolivianos, reconocida a nivel mundial por la autenticidad y calidad de
                                nuestros productos.
                                Aspiramos a ser un puente cultural que acerque a personas de todo el mundo a las ricas
                                tradiciones de
                                Bolivia, fomentando un mayor aprecio por la artesanía y la sostenibilidad. Soñamos con
                                un futuro donde
                                los artesanos bolivianos sean valorados y apoyados, permitiéndoles prosperar mientras
                                continúan
                                compartiendo su talento y patrimonio cultural con el mundo.
                            </p>
                        </div>
                        <!-- fin de item de visión-->
                    </div>
                </article>
            </div>
        </section>
        <!-- Fin de la sección de "Quiénes Somos" -->

        <!-- noticias -->
        <section id="noticias" class="section">

            <div class="title">
                <h2>NOTI<span>CIAS</span></h2>
            </div>

            <div class="container">
                <article class="news">
                    <div class="img-container">
                        <img src="person-1.jpeg" id="person-img" alt="Imagen de Persona" />
                    </div>
                    <h4 id="author">Sara Pérez</h4>
                    <p id="job">Artesana</p>
                    <p id="info">
                        ¡Te invitamos a la gran Feria de Artesanías de la Comunidad de Jupapina en La Paz, Bolivia! Ven
                        y
                        disfruta de
                        una experiencia cultural única este sábado, 14 de septiembre, desde las 10:00 a.m. hasta las
                        6:00
                        p.m., en la
                        Plaza Central de Jupapina. Encontrarás una variedad de productos artesanales auténticos, desde
                        tejidos
                        tradicionales hasta cerámicas únicas, todos hechos con amor y dedicación por los artesanos
                        locales.
                        No te
                        pierdas esta oportunidad de llevarte un pedacito de la cultura boliviana a tu hogar y apoyar a
                        nuestros
                        talentosos artesanos. ¡Te esperamos!
                    </p>
                    <!-- prev next buttons-->
                    <div class="button-container">
                        <button class="prev-btn">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="next-btn">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </article>
            </div>

        </section>



    </main>
    <!-- Fin del contenido principal -->

    <!-- Inicio del footer -->
    <footer class="section">
        <p>
            copyright &copy; Productos Artesanales Bolivia <span id="date"></span>. Todos los derechos reservados
        </p>
    </footer>
    <!-- Fin del footer -->

    <!-- btn flecha -->
    <a class="scroll-link top-link" href="#inicio">
        <i class="fas fa-arrow-up"></i>
    </a>

    <!-- javascript -->
    <script src="/moduloDifusion/js/index.js"></script>
    <script src="/moduloDifusion/js/noticias.js"></script>
    <script src="/moduloDifusion/js/quienes-somos.js"></script>
</body>

</html>