<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrar Mis Productos</title>

    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.bootstrap5.css">



    <!-- Custom fonts for this template-->
    <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- iconos -->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />


    <!-- Custom styles for this template-->
    <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">


    <!-- miCss -->


</head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <%- include('partials/sidebar') %>
            <!-- fin sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- topbar -->
                    <%- include('partials/topbar') %>
                        <!-- fin de topbar -->

                        <!-- contenido main -->
                        <main class="mx-5 my-5 contenido-principal">
                            <!-- Card Contenedor -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h4 class="m-0 font-weight-bold text-secondary text-center">Gestión de Productos
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <!-- Botón para abrir el modal -->
                                    <button class="btn btn-success my-1 mt-4 ml-4" data-toggle="modal"
                                        data-target="#modalAgregarProducto">Añadir Producto</button>

                                    <div class="row contenedor-tabla">
                                        <div class="col-lg-12">
                                            <div class="table-responsive table-responsive px-4 py-2">
                                                <table id="tablaProducto" class="table  table-hover responsive nowrap"
                                                    style="width:100%">
                                                    <thead class="thead-light text-center">
                                                        <tr>
                                                            <th class="">#:&nbsp;</th>
                                                            <th>ID:&nbsp;</th>
                                                            <!-- Información Básica -->
                                                            <th class="">Nombre:&nbsp;</th>
                                                            <th class="">Descripción:&nbsp;</th>
                                                            <th class="">Categoría:&nbsp;</th>

                                                            <!-- Detalles Específicos -->
                                                            <th class="">Color:&nbsp;</th>
                                                            <th class="">Peso(kg):&nbsp;</th>
                                                            <th class="">Stock:&nbsp;</th>
                                                            <th class="">Precio:&nbsp;</th>
                                                            <th class="">Descuento:&nbsp;</th>

                                                            <!-- Logística -->
                                                            <th class="">Política de Envío:&nbsp;</th>
                                                            <th class="">Almacén:&nbsp;</th>

                                                            <!-- Elementos Visuales -->
                                                            <th class="">Imagen:&nbsp;</th>


                                                            <!-- <th class="">Estado:&nbsp;</th> -->
                                                            <th class="">Acciones:&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Contenido de la tabla -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal para Añadir Producto -->
                            <div class="modal fade" id="modalAgregarProducto" tabindex="-1" role="dialog"
                                aria-labelledby="modalAgregarProductoLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content rounded bg-white">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalAgregarProductoLabel">Añadir Producto</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formRegistrarProducto" method="POST" action=""
                                                enctype="multipart/form-data">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-6 d-flex flex-column align-items-center">
                                                        <label for="fotoProd" class="labels text-center">Imagen del
                                                            Producto</label>
                                                        <div class="input-group">
                                                            <input type="file" class="form-control text-center"
                                                                id="fotoProd" name="ruta_imagen" accept="image/*"
                                                                required>
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-upload"></i></span>
                                                        </div>
                                                        <div class="text-center mt-1">
                                                            <img id="previewImagenProd" src="" alt="Vista previa"
                                                                style="display: none; max-width: 100%;">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-6">
                                                        <label for="nombreProd" class="labels">Nombre del
                                                            Producto</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-tag"></i></span>
                                                            <input type="text" class="form-control" id="nombreProd"
                                                                name="nombre_Prod"
                                                                placeholder="Ingresa el nombre del producto" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="descripcionProd" class="labels">Descripción</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-pencil-alt"></i></span>
                                                            <input type="text" class="form-control" id="descripcionProd"
                                                                name="descripcion_Prod"
                                                                placeholder="Ingresa la descripción del producto"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="idCategoria" class="labels">Categoría</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-tags"></i></span>
                                                            <select class="form-control" id="idCategoria"
                                                                name="id_categoria" required>
                                                                <option value="">Selecciona una categoría</option>
                                                                <!-- Las opciones se llenarán dinámicamente aquí -->
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="informacionAdicional" class="labels">Información
                                                            Adicional (Color)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-paint-brush"></i></span>
                                                            <input type="color" class="form-control"
                                                                id="informacionAdicional" name="informacion_Adicional"
                                                                value="#0056b3"
                                                                placeholder="Ingresa información adicional" required>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="pesoProd" class="labels">Peso (kg)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-balance-scale"></i></span>
                                                            <input type="number" step="0.01" class="form-control"
                                                                id="pesoProd" name="peso_kg"
                                                                placeholder="Ingresa el peso" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="stockProd" class="labels">Stock (Unidades)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-box"></i></span>
                                                            <input type="number" class="form-control" id="stockProd"
                                                                name="stock" placeholder="Ingresa el stock" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="precioProd" class="labels">Precio</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-wallet"></i></span>
                                                            <input type="number" step="0.01" class="form-control"
                                                                id="precioProd" name="precio"
                                                                placeholder="Ingresa el precio en Bs." required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="descuentoProd" class="labels">Descuento (%)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-percentage"></i></span>
                                                            <input type="number" step="0.01" class="form-control"
                                                                id="descuentoProd" name="descuento_porcent"
                                                                placeholder="Ingresa el descuento" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="politicaEnvio" class="labels">Política de
                                                            Envío</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-truck"></i></span>
                                                            <input type="text" class="form-control" id="politicaEnvio"
                                                                name="politica_de_Envio"
                                                                placeholder="Ingresa la política de envío" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="idAlmacen" class="labels">Almacén</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-warehouse"></i></span>
                                                            <select class="form-control" id="idAlmacen"
                                                                name="id_almacen" required>
                                                                <option value="">Selecciona un almacén</option>
                                                                <!-- Las opciones se llenarán dinámicamente aquí -->
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <input type="hidden" id="id_artesano">

                                                <div class="mt-4 text-center">
                                                    <button type="submit" class="btn btn-success"
                                                        id="btnRegistrarProducto" name="btnRegistrarProducto">Guardar
                                                        Producto</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal para Actualizar Producto -->
                            <div class="modal fade" id="modalActualizarProducto" tabindex="-1" role="dialog"
                                aria-labelledby="modalActualizarProductoLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content rounded bg-white">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalActualizarProductoLabel">Actualizar
                                                Producto</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formActualizarProducto" method="POST" action=""
                                                enctype="multipart/form-data">
                                                <input type="hidden" id="ActualizarProductoId">
                                                <div class="row mt-3">
                                                    <div class="col-md-6">
                                                        <label for="nombreActualizarProducto" class="labels">Nombre del
                                                            Producto</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-tag"></i></span>
                                                            <input type="text" class="form-control"
                                                                id="nombreActualizarProducto"
                                                                name="nombre_Prod_actualizar"
                                                                placeholder="Ingresa el nombre del producto" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="descripcionActualizarProducto"
                                                            class="labels">Descripción</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-pencil-alt"></i></span>
                                                            <input type="text" class="form-control"
                                                                id="descripcionActualizarProducto"
                                                                name="descripcion_Prod_actualizar"
                                                                placeholder="Ingresa la descripción del producto"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="categoriaActualizarProducto"
                                                            class="labels">Categoría</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-tags"></i></span>
                                                            <select class="form-control"
                                                                id="categoriaActualizarProducto"
                                                                name="id_categoria_actualizar" required>
                                                                <option value="">Selecciona una categoría</option>
                                                                <!-- Opciones dinámicas -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="informacionAdicionalActualizar"
                                                            class="labels">Información Adicional (Color)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-paint-brush"></i></span>
                                                            <input type="color" class="form-control"
                                                                id="informacionAdicionalActualizar"
                                                                name="informacion_Adicional_actualizar" value="#0056b3"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="pesoActualizarProducto" class="labels">Peso
                                                            (kg)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-balance-scale"></i></span>
                                                            <input type="number" step="0.01" class="form-control"
                                                                id="pesoActualizarProducto" name="peso_kg_actualizar"
                                                                placeholder="Ingresa el peso" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="stockActualizarProducto" class="labels">Stock
                                                            (Unidades)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-box"></i></span>
                                                            <input type="number" class="form-control"
                                                                id="stockActualizarProducto" name="stock_actualizar"
                                                                placeholder="Ingresa el stock" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="precioActualizarProducto"
                                                            class="labels">Precio</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-wallet"></i></span>
                                                            <input type="number" step="0.01" class="form-control"
                                                                id="precioActualizarProducto" name="precio_actualizar"
                                                                placeholder="Ingresa el precio en Bs." required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="descuentoActualizarProducto"
                                                            class="labels">Descuento (%)</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-percentage"></i></span>
                                                            <input type="number" step="0.01" class="form-control"
                                                                id="descuentoActualizarProducto"
                                                                name="descuento_porcent_actualizar"
                                                                placeholder="Ingresa el descuento" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="politicaEnvioActualizar" class="labels">Política de
                                                            Envío</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-truck"></i></span>
                                                            <input type="text" class="form-control"
                                                                id="politicaEnvioActualizar"
                                                                name="politica_de_Envio_actualizar"
                                                                placeholder="Ingresa la política de envío" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="almacenActualizarProducto"
                                                            class="labels">Almacén</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-warehouse"></i></span>
                                                            <select class="form-control" id="almacenActualizarProducto"
                                                                name="id_almacen_actualizar" required>
                                                                <option value="">Selecciona un almacén</option>
                                                                <!-- Opciones dinámicas -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <label for="idArtesanoActualizarProducto" class="labels">ID de
                                                            Artesano</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i
                                                                    class="fa fa-user"></i></span>
                                                            <select class="form-control"
                                                                id="idArtesanoActualizarProducto"
                                                                name="id_artesano_actualizar" required disabled>
                                                                <option value="">Selecciona un artesano</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-4 text-center">
                                                    <button type="submit" class="btn btn-primary"
                                                        id="btnActualizarProducto" name="btnActualizarProducto">
                                                        Actualizar Producto
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </main>
                        <!-- fin de contenido -->


                </div>
                <!-- End of Main Content -->

                <%- include('partials/footer') %>

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logout') %>

        <!-- sweetalert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
        <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/dashboard/js/sb-admin-2.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- datatables -->
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.bootstrap5.js"></script>

        <!-- mi js -->
        <script src="/dashboard/jsArtesanoProducto/cargarImagenProducto.js"></script>
        <script src="/dashboard/jsArtesanoProducto/crudProducto.js"></script>


</body>

</html>