<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caracteristica del Producto</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

    <!-- styles css -->
    <link rel="stylesheet" href="/moduloProducto/css/styles.css" />
</head>

<body>
    <!-- navbar -->
    <nav class="navbar page">
        <div class="nav-center">
            <!-- links -->
            <div>
                <button class="toggle-nav">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav-links">
                    <li>
                        <a href="/" class="nav-link">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            Perfil
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
            <!-- logo -->
            <img src="/moduloProducto/images/logo.png" class="nav-logo" alt="logo" />
            <!-- cart icon -->
            <div class="toggle-container">
                <button class="toggle-cart">
                    <i class="fas fa-shopping-cart"></i>
                </button>
                <span class="cart-item-count">1</span>
            </div>
        </div>
    </nav>
    <!-- hero -->
    <section class="page-hero">
        <div class="section-center">
            <h3 class="page-hero-title">Caracteristicas del Producto</h3>
        </div>

    </section>
    <!-- sidebar -->
    <div class="sidebar-overlay">
        <aside class="sidebar">
            <!-- close -->
            <button class="sidebar-close">
                <i class="fas fa-times"></i>
            </button>
            <!-- links -->
            <ul class="sidebar-links">
                <li>
                    <a href="/" class="sidebar-link">
                        <i class="fas fa-home fa-fw"></i>
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="/comprasCliente" class="sidebar-link">
                        <i class="fas fa-couch fa-fw"></i>
                        Perfil
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-link">
                        <i class="fas fa-book fa-fw"></i>
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </aside>
    </div>
    <!-- cart -->
    <div class="cart-overlay">
        <aside class="cart">
            <button class="cart-close">
                <i class="fas fa-times"></i>
            </button>
            <header>
                <h3 class="text-slanted">Tu Carrito</h3>
            </header>
            <!-- cart items -->
            <div class="cart-items"></div>
            <!-- footer -->
            <footer>
                <h3 class="cart-total text-slanted">
                    total : Bs. 12.99
                </h3>
                <button class="cart-checkout btn">Comprar</button>
            </footer>
        </aside>
    </div>


    <!-- product info -->
    <section class="single-product">
        <div class="section-center single-product-center">
            <img src="" class="single-product-img img" alt="" />
            <article class="single-product-info">
                <div>
                    <h2 class="single-product-title">Joyeria</h2>
                    <p class="single-product-company text-slanted">
                        Categoria: Muebles
                    </p>
                    <p class="single-product-price">Bs. 30.00</p>
                    <div class="single-product-colors"></div>
                    <p class="single-product-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id,
                        modi? Minima libero doloremque necessitatibus! Praesentium
                        recusandae quod nesciunt animi voluptatem!
                    </p>
                    <button class="addToCartBtn btn" data-id="id">
                        Agregar a Carrito
                    </button>
                    <button class="btn btn-color"
                        onclick="window.location.href='/productosCliente';">volver</button>

                </div>
            </article>
        </div>
    </section>


    <div class="page-loading">
        <h2>Cargando...</h2>
    </div>
    <script type="module" src="/moduloProducto/src/pages/product.js"></script>
</body>

</html>