<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pedidos Delivery</title>

    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.bootstrap5.css">



    <!-- Custom fonts for this template-->
    <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- iconos -->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />


    <!-- Custom styles for this template-->
    <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">


    <!-- miCss -->


</head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <%- include('partials/sidebar') %>
            <!-- fin sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- topbar -->
                    <%- include('partials/topbar') %>
                        <!-- fin de topbar -->

                        <!-- contenido main -->
                        <main class="mx-5 my-5 contenido-principal">

                            <!-- Card Contenedor -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h4 class="m-0 font-weight-bold text-secondary text-center">Pedidos
                                    </h4>
                                </div>
                                <div class="card-body">

                                    <div class="row contenedor-tabla">
                                        <div class="col-lg-12">
                                            <div class="table-responsive table-responsive px-4 py-2">
                                                <table id="tablaPedidos" class="table  table-hover responsive nowrap"
                                                    style="width:100%">
                                                    <thead class="thead-light text-center">
                                                        <tr>
                                                            <th class="">#:&nbsp;</th>
                                                            <th>id_pedido:&nbsp;</th>
                                                            <th class="">Datos Cliente:&nbsp;</th>
                                                            <th class="">Datos Artesano:&nbsp;</th>
                                                            <th class="">Dirección de Envío:&nbsp;</th>
                                                            <th class="">Estado del Pedido:&nbsp;</th>
                                                            <th class="">Costo de Envío:&nbsp;</th>
                                                            <th class="">Productos:&nbsp;</th>
                                                            <th class="">Acciones:&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Contenido de la tabla -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal para Ver Detalle del Cliente -->
                            <div class="modal fade" id="modalDetalleCliente" tabindex="-1" role="dialog"
                                aria-labelledby="modalDetalleClienteLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalDetalleClienteLabel">Datos del Cliente</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Contenedor con los detalles del cliente -->
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label><strong>Nombres:</strong></label>
                                                            <p id="nombreCliente"></p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label><strong>Apellidos:</strong></label>
                                                            <p id="apellidoCliente"></p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label><strong>CI:</strong></label>
                                                            <p id="ciCliente"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label><strong>Email:</strong></label>
                                                            <p id="emailCliente"></p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label><strong>Número de contacto:</strong></label>
                                                            <p id="numeroCliente"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Dirección de envío y ubicación -->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                            <!-- Botón de Notificar con un ícono -->
                                            <button type="button" class="btn btn-warning">
                                                <i class="fas fa-bell" style="margin-right: 5px;"></i> Notificar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal para Ver Detalle del Artesano -->
                            <div class="modal fade" id="modalDetalleArtesano" tabindex="-1" role="dialog"
                                aria-labelledby="modalDetalleArtesanoLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalDetalleArtesanoLabel">Datos del Artesano
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Contenedor con los detalles del artesano -->
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label><strong>Nombres:</strong></label>
                                                            <p id="nombreArtesano"></p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label><strong>Apellidos:</strong></label>
                                                            <p id="apellidoArtesano"></p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label><strong>CI:</strong></label>
                                                            <p id="ciArtesano"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label><strong>Email:</strong></label>
                                                            <p id="emailArtesano"></p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label><strong>Número de contacto:</strong></label>
                                                            <p id="numeroArtesano"></p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label><strong>Especialidad:</strong></label>
                                                            <p id="especialidadArtesano"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Más detalles del artesano si es necesario -->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal para Ver Detalle de Ventas -->
                            <div class="modal fade" id="modalDetalleVentas" tabindex="-1" role="dialog"
                                aria-labelledby="modalDetalleVentasLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalDetalleVentasLabel">Detalle Productos</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row contenedor-tabla">
                                                <div class="col-lg-12">
                                                    <div class="table-responsive px-4 py-2">
                                                        <table id="tablaDetalleVentas"
                                                            class="table table-hover responsive nowrap"
                                                            style="width:100%">
                                                            <thead class="thead-light text-center">
                                                                <tr>
                                                                    <th>#:&nbsp;</th>
                                                                    <th>id_Producto:&nbsp;</th>
                                                                    <th>Nombre:&nbsp;</th>
                                                                    <th>Descripción:&nbsp;</th>
                                                                    <th>Color:&nbsp;</th>
                                                                    <th>Imagen:&nbsp;</th>
                                                                    <th>Cantidad:&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- Contenido de la tabla -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </main>
                        <!-- fin de contenido -->


                </div>
                <!-- End of Main Content -->

                <%- include('partials/footer') %>

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logout') %>

        <!-- sweetalert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
        <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/dashboard/js/sb-admin-2.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- datatables -->
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.bootstrap5.js"></script>

        <!-- mi js -->
        <script src="/dashboard/jsDelivery/frontListarTodosLosPedidos.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=TU_CLAVE_API&callback=initMap" async defer></script>


</body>

</html>