<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Almacen</title>

    <!-- datatables -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.bootstrap5.css">



    <!-- Custom fonts for this template-->
    <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- iconos -->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />


    <!-- Custom styles for this template-->
    <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">


    <!-- miCss -->


</head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <%- include('partials/sidebar') %>
            <!-- fin sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- topbar -->
                    <%- include('partials/topbar') %>
                        <!-- fin de topbar -->


                        <!-- contenido main -->
                        <main class="mx-5 my-5 contenido-principal">

                            <!-- Card Contenedor -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h4 class="m-0 font-weight-bold text-secondary text-center">Gestion de Almacenes</h4>
                                </div>
                                <div class="card-body">
                                    <!-- Botón para abrir el modal -->
                                    <button class="btn btn-success my-1 mt-4 ml-4" data-toggle="modal"
                                        data-target="#modalAgregarAlmacen">Añadir Almacen</button>

                                    <div class="row contenedor-tabla">
                                        <div class="col-lg-12">
                                            <div class="table-responsive px-4 py-2">
                                                <table id="tablaAlmacen"
                                                    class="table table-hover responsive nowrap"
                                                    style="width:100%">
                                                    <thead class="text-light text-center">
                                                        <tr>
                                                            <th class="text-center">#:&nbsp;</th>
                                                            <th>ID:&nbsp;</th>
                                                            <th class="">Codigo de Almacen:&nbsp;</th>
                                                            <th class="">Direccion:&nbsp;</th>
                                                            <th class="">Capacidad:&nbsp;</th>
                                                            <th class="">Estado:&nbsp;</th>
                                                            <th class="">Acciones:&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Contenido de la tabla -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal para Añadir Almacen -->
                            <div class="modal fade" id="modalAgregarAlmacen" tabindex="-1" role="dialog"
                                aria-labelledby="modalAgregarAlmacenLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content p-2">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalAgregarAlmacenLabel">Añadir Almacen</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formRegistrarAlmacen" method="POST" action="">
                                                <div class="form-group">
                                                    <label for="codigoAlmacen">Codigo:</label>
                                                    <!--nombreCategoria / codigoAlmacen-->
                                                    <input type="text" class="form-control" id="codAlmacen"
                                                        placeholder="Introduce el codigo del Almacen"
                                                        name="codigoAlmacen" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="direccionAlmacen">Direccion:</label>
                                                    <!--descripcionCategoria / direccionAlmacen-->
                                                    <textarea class="form-control" id="direccionAlmacen" rows="3"
                                                        placeholder="Introduce una dirección" name="direccionAlmacen"
                                                        required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="capacidadAlmacen">Capacidad:</label>
                                                    <!--iconoCategoria / capacidadAlmacen-->
                                                    <input type="text" class="form-control" id="capacidadAlmacen"
                                                        placeholder="Introduce la capacidad del Almacen"
                                                        name="capacidadAlmacen" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                            <button type="submit" form="formRegistrarAlmacen"
                                                class="btn btn-success">Guardar
                                                Almacen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal para Actualizar Categoría -->
                            <div class="modal fade" id="modalActualizarAlmacen" tabindex="-1" role="dialog"
                                aria-labelledby="modalActualizarAlmacenLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content p-2">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalActualizarAlmacenLabel">Actualizar Almacen
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formActualizarAlmacen" action="">
                                                <input type="hidden" id="idAlmacenActualizar"
                                                    name="idAlmacenActualizar">
                                                <input type="text" id="codAlmacenActualizar"
                                                    name="codAlmacenActualizar">
                                                <!-- Campo oculto para el ID del almacen -->
                                                <div class="form-group">
                                                    <label for="codigoAlmacenActualizar">Nombre:</label>
                                                    <!--codigoAlmacenActualizar / codigoAlmacenActualizar-->
                                                    <input type="text" class="form-control" id="codigoAlmacenActualizar"
                                                        placeholder="Introduce el nombre de la categoría"
                                                        name="codigoAlmacenActualizar" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="direccionAlmacenActualizar">dirección:</label>
                                                    <!--descripcionCategoriaActualizar / direccionAlmacenActualizar-->
                                                    <textarea class="form-control" id="direccionAlmacenActualizar"
                                                        rows="3" placeholder="Introduce una direccion"
                                                        name="direccionAlmacenActualizar" required></textarea>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label for="capacidadAlmacenActualizar">Capacidad:</label>
                                                    <!--iconoCategoriaActualizar / capacidadAlmacenActualizar-->
                                                    <input type="text" class="form-control"
                                                        id="capacidadAlmacenActualizar"
                                                        placeholder="Introduce la capacidad del Almacen"
                                                        name="capacidadAlmacenActualizar" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                            <button type="submit" form="formActualizarAlmacen"
                                                class="btn btn-primary">Actualizar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </main>
                        <!-- fin de contenido -->


                </div>
                <!-- End of Main Content -->

                <%- include('partials/footer') %>

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logout') %>

        <!-- sweetalert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
        <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/dashboard/js/sb-admin-2.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- datatables -->
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.bootstrap5.js"></script>

        <!-- mi js -->
        <script src="/dashboard/jsAlmacen/crudAlmacen.js"></script>




</body>

</html>