<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comunidad</title>

    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.bootstrap5.css">



    <!-- Custom fonts for this template-->
    <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- iconos para categoria-->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />


    <!-- Custom styles for this template-->
    <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Agregar Google Maps API -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASGGV3czWjCCJME_dvhd2FnQnDr-HAAKo&callback=initMap"
        async defer></script> -->

    <!-- miCss -->


</head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <%- include('partials/sidebar') %>
            <!-- fin sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- topbar -->
                    <%- include('partials/topbar') %>
                        <!-- fin de topbar -->


                        <!-- contenido main -->
                        <main class="mx-5 my-5 contenido-principal">

                            <!-- Card Contenedor -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h4 class="m-0 font-weight-bold text-secondary text-center">Comunidades de Bolivia
                                        游딬
                                    </h4>
                                </div>
                                <div class="card-body">

                                    <!-- Bot칩n para abrir el modal -->
                                    <button class="btn btn-success my-1 mt-4 ml-4" data-toggle="modal"
                                        data-target="#modalAgregarComunidad">A침adir Comunidad</button>

                                    <div class="row contenedor-tabla">
                                        <div class="col-lg-12">
                                            <div class="table-responsive px-4 py-2">
                                                <table id="tablaComunidad" class="table table-hover responsive nowrap"
                                                    style="width:100%">
                                                    <!--Encabezados de la tabla-->
                                                    <thead class="thead-light text-center">
                                                        <tr>
                                                            <th class="">#:&nbsp;</th>
                                                            <th>ID:&nbsp;</th>
                                                            <th class="">Departamento:&nbsp;</th>
                                                            <th class="">Provincia:&nbsp;</th>
                                                            <th class="">Municipio:&nbsp;</th>
                                                            <th class="">Nombre Comunidad:&nbsp;</th>
                                                            <th class="">Ubicacion GeoRef:&nbsp;</th>
                                                            <th class="">Estado:&nbsp;</th>
                                                            <th class="">Acciones:&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Contenido de la tabla obtenido dinamicamente del crudComunidad-->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- modalAgregarComunidad: para A침adir Comunidad -->
                            <div class="modal fade" id="modalAgregarComunidad" tabindex="-1" role="dialog"
                                aria-labelledby="modalAgregarComunidadLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">

                                    <!--Aqu칤 comienza el contenido real del modal, que contiene el encabezado, el cuerpo y el pie-->
                                    <div class="modal-content p-2">

                                        <div class="modal-header"><!--Encabezado del Modal-->
                                            <h5 class="modal-title" id="modalAgregarComunidadLabel">A침adir Comunidad
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                <!--Usa el s칤mbolo &times; (que es una "X") como 칤cono para cerrar. -->
                                            </button>
                                        </div>

                                        <div class="modal-body"><!--Cuerpo del Modal-->
                                            <form id="formRegistrarComunidad" method="POST" action="">
                                                <!--El formulario tiene el id="formRegistrarComunidad", lo que permite referenciarlo y manipularlo a trav칠s de JavaScript.-->
                                                <div class="form-group">
                                                    <label for="departamento">Departamento:</label>
                                                    <input type="text" class="form-control" id="departamento"
                                                        placeholder="Introduce el Departamento al que pertence la comunidad"
                                                        name="departamento" required>
                                                    <!--name="Departamento": Este atributo define el nombre del campo cuando el formulario se env칤a.-->
                                                </div>

                                                <div class="form-group">
                                                    <label for="provincia">Provincia:</label>
                                                    <input type="text" class="form-control" id="provincia"
                                                        placeholder="Introduce una provincia" name="provincia" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="municipio">Municipio:</label>
                                                    <input type="text" class="form-control" id="municipio"
                                                        placeholder="Introduce una municipio" name="municipio" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="nombrecom">Nombre de la Comunidad:</label>
                                                    <input type="text" class="form-control" id="nombrecom"
                                                        placeholder="Introduce el nombre de la Comunidad"
                                                        name="nombrecom" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="longitud">Longitud:</label>
                                                    <input type="text" class="form-control" id="longitud"
                                                        placeholder="Longitud Geo Ref" name="longitud" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="latitud">Latitud:</label>
                                                    <input type="text" class="form-control" id="latitud"
                                                        placeholder="Latitud Geo Ref" name="latitud" required>
                                                </div>

                                                <!-- Bloque a침adido para ubicaci칩n -->
                                                <div class="form-group">
                                                    <label for="ubicacionComunidad" class="labels">Ubicaci칩n</label>
                                                    <div class="input-group">
                                                        <button type="button" class="btn btn-outline-primary"
                                                            id="abrirMapa">
                                                            <i class="fa fa-map"></i> Abrir Mapa de Google
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Fin del bloque a침adido -->

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                            <button type="submit" form="formRegistrarComunidad"
                                                class="btn btn-success">Guardar Comunidad</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal para Actualizar Comunidad -->
                            <div class="modal fade" id="modalActualizarComunidad" tabindex="-1" role="dialog"
                                aria-labelledby="modalActualizarComunidadLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content p-2">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalActualizarComunidadLabel">Actualizar
                                                Comunidad
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form id="formActualizarComunidad" action="">
                                                <!-- Campo oculto para el ID del almac칠n -->
                                                <input type="hidden" id="idComunidadActualizar"
                                                    name="idComunidadActualizar">

                                                <!-- Departamento al que pertenece la Comunidad -->
                                                <div class="form-group">
                                                    <label for="DepartamentoActualizar">Departamento:</label>
                                                    <input type="text" class="form-control" id="DepartamentoActualizar"
                                                        placeholder="Introduce el Departamento correspondiente"
                                                        name="DepartamentoActualizar" required>
                                                </div>

                                                <!-- provincia al que pertenece la Comunidad -->
                                                <div class="form-group">
                                                    <label for="provinciaActualizar">Provincia:</label>
                                                    <input type="text" class="form-control" id="provinciaActualizar"
                                                        placeholder="Introduce la nueva provincia"
                                                        name="provinciaActualizar" required>
                                                </div>

                                                <!-- Municipio al que pertenece la Comunidad -->
                                                <div class="form-group">
                                                    <label for="municipioActualizar">Municipio:</label>
                                                    <input type="text" class="form-control" id="municipioActualizar"
                                                        placeholder="Introduce el nuevo Municipio"
                                                        name="municipioActualizar" required>
                                                </div>

                                                <!-- Nombre de la Comunidad -->
                                                <div class="form-group">
                                                    <label for="nombreComActualizar">Nombre de la Comunidad:</label>
                                                    <input type="text" class="form-control" id="nombreComActualizar"
                                                        placeholder="Introduce el nuevo Nombre de la Comunidad"
                                                        name="nombreComActualizar" required>
                                                </div>

                                                <!-- Longitud -->
                                                <div class="form-group">
                                                    <label for="longitudActualizar">Nueva Longitud (Abrir Mapa):</label>
                                                    <input type="text" class="form-control" id="longitudActualizar"
                                                        placeholder="Nueva Longitud" name="longitudActualizar" required>
                                                </div>

                                                <!-- Latitud -->
                                                <div class="form-group">
                                                    <label for="latitudActualizar">Nueva Latitud (Abrir Mapa):</label>
                                                    <input type="text" class="form-control" id="latitudActualizar"
                                                        placeholder="Nueva Latitud" name="latitudActualizar" required>
                                                </div>

                                                <!-- Ubicaci칩n GeoReferencial -->
                                                <div class="form-group">
                                                    <label for="ubicacion_geoRef_ComActualizar">Anterior Ubicaci칩n
                                                        GeoRef:</label>
                                                    <input type="text" class="form-control"
                                                        id="ubicacion_geoRef_ComActualizar"
                                                        placeholder="Elige la nueva Ubicaci칩n GeoRef"
                                                        name="ubicacion_geoRef_ComActualizar" required>
                                                </div>

                                                <!-- Bloque a침adido para ubicaci칩n -->
                                                <div class="form-group">
                                                    <label for="ubicacionComunidad" class="labels">Ubicaci칩n</label>
                                                    <div class="input-group">
                                                        <button type="button" class="btn btn-outline-primary"
                                                            id="abrirMapa2">
                                                            <i class="fa fa-map"></i> Abrir Mapa de Google
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Fin del bloque a침adido -->

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                            <button type="submit" form="formActualizarComunidad"
                                                class="btn btn-primary">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Segundo Modal con Google Maps-->
                            <div class="modal fade" id="segundoModal" tabindex="-1" role="dialog"
                                aria-labelledby="segundoModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="segundoModalLabel">Ubicaci칩n del Mapa de Google
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="modal-body">
                                                <div id="map" style="width: 100%; height: 450px;"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </main>
                        <!-- fin de contenido -->
                </div>
                <!-- End of Main Content -->

                <%- include('partials/footer') %>

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logout') %>


        <!-- sweetalert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
        <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/dashboard/js/sb-admin-2.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- datatables -->
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.bootstrap5.js"></script>

        <!-- mi js -->
        <script src="/dashboard/jsComunidad/modalMapa.js"></script>
        <script src="/dashboard/jsComunidad/crudComunidad.js"></script>

        <!-- google maps -->
        <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>

</body>

</html>