/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {

  --clr-body: hsl(210, 36%, 96%);
  --clr-1: hsl(209, 61%, 16%);
  --clr-2: hsla(182, 63%, 54%);
  --clr-3: hsl(210, 22%, 49%);
  --clr-4: hsl(212, 33%, 89%);
  --clr-5: hsl(205, 100%, 96%);
  --clr--lighter: hsl(209, 61%, 40%);
  --clr-light-blue: hsl(209, 61%, 50%);


  --clr-white: #fff;
  --btn-hover: hsla(182, 63%, 44%, 1);
  --spacing: 0.25rem;

  --ff-secondary: "Open Sans", sans-serif;
  --ff-primary: "Roboto", sans-serif;

  --transition: all 0.3s linear;

  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-body);
  color: var(--clr-1);
  line-height: 1.5;
  font-family: var(--ff-secondary);
  font-size: 0.875rem;
}


/*formato de pequeno a grande*/
h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 2.6rem;
}

h4 {
  margin-bottom: 0.8rem;
  letter-spacing: var(--spacing);
  font-size: 1rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-letter-3);
}



img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/*------formato de nav------*/

/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
  text-align: center;
}

/*logo y toogle*/
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-2);
}

/*ocultar links*/
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.dropdown {
  display: none;
}

/*clase utilizada por js*/
.show-links {
  height: 200px;
}

/*formato de links al presionar toggle*/
.links a {
  background: var(--clr-white);
  color: var(--clr-3);
  font-size: 0.95rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.6rem 0;
}

.links a .active {
  background-color: rebeccapurple;
}

.links a:hover {
  color: var(--clr-2);
}

/* formato de login */
.login {
  color: var(--clr-1);
  font-weight: bold;
}

.login:hover {
  color: var(--clr-2);
}

/*clase utilizada por js*/
/*btn top oculto*/
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-2);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

/*animacion*/
@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/*clase utilizada por css*/
.show-link {
  visibility: visible;
  z-index: 100;
}

/*clases utilizadas por js*/
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 10;
}

.fixed-nav .links a {
  color: var(--clr-1);
}


.fixed-nav .links a:hover {
  color: var(--clr-2);
}



/* recuadro al hacer hover */
.btn-sb {
  position: relative;
}

/* Estilo del recuadro desplegable */
.dropdown-login {
  display: none;
  position: absolute;
  top: 95%;
  left: -2px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: var(--light-shadow);
  z-index: 1000;
  min-width: 150px;
  padding: 0.5rem 0;
  margin-top: 0.2rem;
}

/* Mostrar el recuadro desplegable al hacer hover sobre el enlace */
.btn-sb:hover .dropdown-login {
  display: block;
}

/* Estilo de las opciones dentro del recuadro */
.dropdown-login a {
  display: block;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem 0.2rem;
  color: var(--clr-3);
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 0.8rem;
}

/* Efecto hover en las opciones del recuadro */
.dropdown-login a:hover {
  color: #007bff;
}

/*fin de recuadro*/


/*-------fin de formato nav--------*/

/*-----hero-----*/
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(/moduloDifusion/img/banner2.jpg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

/*titulo*/
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}

/*parrafo*/
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

/*btn banner and login*/
.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid;
  cursor: pointer;
}

.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background: var(--clr-white);
  color: var(--clr-2);
}

/*-----fin de hero-----*/


/* -----formato de secciones----- */

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 3rem;
}



/* titulos de secciones*/
.title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem 0;
}

.title span {
  color: var(--clr-2);
}

/*tamaño de cada seccion*/
#quienes-somos,
#noticias,
#categorias,
#novedades {
  height: auto;

}

/*cambia el color de una seccion*/
#noticias,
#novedades {
  background: var(--clr-white);
}

/* ----- fin formato de secciones----- */


/* -----noticias----- */




.news {
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  background-color: var(--clr-body);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

#person-img {
  margin-top: 1rem;
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-2);
  color: var(--clr-white);
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-2);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

/* letter */
#author {
  margin-bottom: 0.25rem;
  font-size: 1.05rem;
}

#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-2);
  font-size: 1rem;
  font-weight: bold;
}

#info {
  letter-spacing: 0.05rem;
  text-align: justify;
  margin-bottom: 0.75rem;
  color: var(--clr-1);
  font-weight: 200;
  font-size: 1rem;
}

/*btn*/
.prev-btn,
.next-btn {
  padding-top: 0.3rem;
  color: var(--clr-2);
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-3);
}



/* categorias */
.categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

}

.category {
  background-color: var(--clr-white);
  border-radius: var(--radius);
  padding: 20px;
  text-align: center;
  height: auto;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.category:hover {
  cursor: pointer;
  background: var(--light-shadow);
}

.c-title {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--clr-1);
}

.category .c-info {
  color: var(--clr-1);
  text-align: justify;
  padding: 2.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;

}

.c-icon {
  font-size: 3.5rem;
  color: var(--clr-3);
  margin-top: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover .c-icon {
  animation: zoomInOut 0.8s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.2) translateY(-10px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}


/* buttons */

.btn-g {
  cursor: pointer;
  color: var(--clr-white);
  background: var(--clr--lighter);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--spacing);
  padding: 0.5rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn-g:hover {
  background: var(--clr-2);
  box-shadow: var(--shadow-3);
}

/* fin de categorias */

/* productos */

.products-container {
  display: grid;
}

.product {
  margin-bottom: 1rem;
  border: var(--borderRadius);
  padding: 1rem;
  background: var(--clr-body);
}

.product-img {
  border-radius: var(--borderRadius);
  height: 18rem;
  width: 100%;
  display: block;
  object-fit: cover;
}

.product .footer-p {
  padding: 0.75rem 0;
  text-align: center;
}

.product-name {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-3);
  font-size: 1rem;
  font-weight: bolder;
  color: var(--clr-1);
}

.product-price {
  margin-bottom: 0;
  color: var(--clr--lighter);
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: var(--spacing);
}

.product:hover {
  background: var(--clr-white);
  cursor: pointer;
}

.products-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-bottom: 3.5rem;
}

.prev-btn-p,
.next-btn-p {
  position: absolute;
  top: 100%;
  transform: translateY(-250%);
  background-color: var(--clr-3);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.prev-btn-p {
  left: 190px;
}

.next-btn-p {
  right: 190px;
}

.product {
  flex: 0 0 100%;
}

.prev-btn-p:hover,
.next-btn-p:hover {
  cursor: pointer;
  background-color: var(--clr-2);
  transition: var(--transition);
}

.content-btn-p{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-producto{
  
  margin-bottom: 3rem;
  margin-top:0; 
 
}


/* fin de productos */



/* quienes-somos */


/*img*/
.about-img img {
  display: block;
  width: 100%;
}

.about-img {
  margin-bottom: 2rem;
}

.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  height: 20rem;
}

/*formato del contenido*/
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
}


/*btns*/
.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/*formato btn*/
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-4);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  color: var(--clr-1);
  font-weight: bold;
}

/*style a los hijos del 1 al 3*/
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}

.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}

/*hover a lo btn que no estan con la clase active*/
.tab-btn:hover:not(.active) {
  background: var(--clr-5);
  color: var(--clr-3);
}

.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}

.content h4 {
  font-size: 1.3rem;
  padding-left: 1rem;
  color: var(--clr-2);
}

.content .qs-parrafo {
  letter-spacing: 0.05rem;
  color: var(--clr-1);
  padding: 0 1rem;
  font-size: 0.9rem;
  text-align: justify;
  max-width: none;
  margin-top: 1rem;
}



/* hide content */
/*content no activo hidden*/
.content {
  display: none;
}

/*content activo show*/
.content.active {
  display: block;
}

/*btn activo*/
.tab-btn.active {
  background: var(--clr-white);
}



/* fin de quienes somos */




/*footer*/
footer {
  background: var(--clr-1);
  padding: 5rem 1rem;
}

footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}


/* .fixed-nav .links-container {
  height: auto !important;
} */


/*mediaQuery*/
/*de x para adelante x<#px*/
@media screen and (min-width: 768px) {

  /*banner*/
  .container p {
    max-width: 40rem;
  }

  /*fin de banner*/

  /*seccion*/
  #quienes-somos,
  #noticias,
  #categorias,
  #novedades {
    height: auto;
  }

  /*fin de seccion*/

  /* categorias */
  .categories {
    grid-template-columns: 1fr;
  }

  /* fin de categorias */

  /* productos */


  /* fin de productos */
}


@media screen and (min-width: 800px) {

  /* categorias */
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }

  /* fin de categorias */

  /* productos */
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .products-container .product-img {
    height: 14rem;
  }

  .product-name {
    font-size: 0.9rem;
  }

  .product-price {
    font-size: 1rem;
  }

  .product {
    margin-bottom: 0;
  }

  /* fin de productos */
}


@media screen and (min-width: 992px) {


  /* quienes-somos */
  /*imagen y contenido a columnas*/
  .about-img {
    margin-bottom: 0;
  }

  /*imagen 1fr, contenido 1fr*/
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  /* fin quienes-somos */
}




/*de 950px para delante es decir pantallas grandes*/
@media screen and (min-width: 1100px) {

  /* estilos generales */
  h1 {
    font-size: 4rem;
  }

  .title h2 {
    font-size: 2.8rem;
  }


  p {
    font-size: 1.1rem;
  }

  /*tamaño de cada seccion*/
  #quienes-somos,
  #noticias,
  #categorias,
  #novedades {
    height: auto;
  }

  /* fin de estilos generales */




  /* formato delnavegador pantalla grande */
  nav {
    background: transparent;
  }

  /*contenedor del logo y links*/
  .nav-center {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;
  }

  /*oculta togle*/
  .nav-toggle {
    display: none;
  }

  /*asigna un tamaño*/
  .links-container {
    height: auto !important;
  }

  /*formato de links*/
  .links {
    display: flex;
  }

  .links li {
    position: relative;

  }

  .links a {
    background: transparent;
    color: var(--clr-1);
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }


  .links a:hover {
    color: var(--clr-white);
  }



  /* Estilo del recuadro desplegable */
  .dropdown {
    display: none;
    position: absolute;
    top: 90%;
    left: 10%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: var(--light-shadow);
    z-index: 1000;
    min-width: 150px;
    padding: 0.5rem 0;
    margin-top: 0.2rem;
  }

  /* Mostrar el recuadro desplegable al hacer hover sobre el enlace */
  .links li:hover .dropdown {
    display: block;
  }

  /* Estilo de las opciones dentro del recuadro */
  .dropdown a {
    display: block;
    padding: 0.2rem 0;
    margin: 0.1rem 0.2rem;
    color: var(--clr-3);
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 0.8rem;
  }

  /* Efecto hover en las opciones del recuadro */
  .dropdown a:hover {
    color: #007bff;
  }

  .links .activeLink {
    text-decoration: underline;
    text-decoration-color: var(--clr-1);
    z-index: 100;
    text-underline-offset: 0.4rem;
    padding-top: 0.2rem;
  }

  /* fin del formato navegador */

  /* quienes-somos */
  .content .qs-parrafo {
    font-size: 1rem;
  }

  /* fin quienes-somos */
}


@media screen and (min-width: 1170px) {

  /*links*/
  /*ocultar links*/
  .links-container {
    height: 0;
    overflow: visible;
    transition: var(--transition);
  }

  /*fin de links*/



  /* hero */
  .banner {
    min-height: 80vh;
  }

  /* fin hero */


  /* productos */
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-img {
    height: 16rem;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1.05rem;
  }

  /* fin de productos */

}